<!-- welcome_dima_area_start -->
<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="~/templates/template/img/about/1.png" alt="">
                    </div>
                    <div class="thumb_2">
                        <img src="~/templates/template/img/about/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2>Bienvenidos a Dima</h2>
                    <h3>
                        La Mejor Atención <br>
                        Para Tu Salud Mental
                    </h3>
                    <p>
                        Nuestro equipo de especialistas se reúne todas las semanas en sesiones de aprendizaje,
                        para fortalecer los saberes y compartir sus experiencias y consejos de nuestros pacientes.
                    </p>
                    <ul>
                        <li> <i class="flaticon-right"></i> Guía emocional para menores de edad. </li>
                        <li> <i class="flaticon-right"></i> Soporte psicológico durante episodios depresivos.</li>
                        <li> <i class="flaticon-right"></i> Ayuda a entender y controlar pensamientos autolesivos. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_dima_area_end -->