<!-- expert_doctors_area_start -->
<div class="expert_doctors_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="doctors_title mb-55">
                    <h3>Expertos en Psicología</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="expert_active owl-carousel">
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/templates/template/img/experts/1.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Daniel Barrantes</h3>
                            <span>Psicólogo</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/templates/template/img/experts/2.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Andrea Ramírez</h3>
                            <span>Psicóloga</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/templates/template/img/experts/3.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mauricio Roldán</h3>
                            <span>Psicólogo</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/templates/template/img/experts/4.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Brandon Acuña</h3>
                            <span>Psicólogo</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/templates/template/img/experts/11.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Sandra Morales</h3>
                            <span>Psicóloga</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="~/templates/template/img/experts/5.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Maribel Ramírez</h3>
                            <span>Psicóloga</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- expert_doctors_area_end -->