<!-- service_area_start -->
<div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-electrocardiogram"></i>
                    </div>
                    <h3>Hospitalidad</h3>
                    <p>La excelencia clínica debe ser la prioridad para cualquier proveedor de servicios de atención médica.</p>

                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"></i>
                    </div>
                    <h3>Asistencia Urgente</h3>
                    <p>Ponemos como prioridad a las personas que más lo necesiten ante momentos difíciles.</p>

                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-first-aid-kit"></i>
                    </div>
                    <h3>Servicio Personalizado</h3>
                    <p>Las sesiones con el terapeuta profesional son privadas y personalizadas, según lo necesites.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->