<!-- testmonial_area_start -->
<div class="testmonial_area">
    <div class="testmonial_active owl-carousel">
        <div class="single-testmonial testmonial_bg_3 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>
                                He tenido terapia con Pilar Sánchez por una época de ansiedad que he tenido,
                                me ha ayudado en todo, dándome estrategias para poder solucionarlo y sobretodo entendiéndome y no juzgándome.
                                Estoy muy agradecida a ella por haberme ayudado a volver a ser yo.
                            </p>
                            <div class="testmonial_author">
                                <h4>Elena Martínez</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-testmonial testmonial_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>
                                Realizar un proceso de acompañamiento con Sara Montejano, ha significado para mi abrir
                                una puerta de nuevas oportunidades en las relaciones personales.
                                Realmente quería y deseaba de corazón cambiar mis sentimientos de incomprensión,
                                impotencia y dolor, pero sola no era capaz.
                            </p>
                            <div class="testmonial_author">
                                <h4>Miriam Suárez</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-testmonial testmonial_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>
                                Estoy muy satisfecho con mis sesiones con Alejandro. Me está ayudando mucho, <br>
                                me entiende muy bien y siento que estoy progresando bien con sus consejos. <br>
                                Dima es una excelente opción para quienes buscan atender su salud mental. <br> <br>
                            </p>
                            <div class="testmonial_author">
                                <h4>Carlos Villanueva</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testmonial_area_end -->