<div class="jumbotron">
    <h1 class="title-bold">Dima API</h1>
    <p class="lead">Desde este API se conecta a la base de datos.</p>
    <p><a href="https://asp.net" target="_blank" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>