
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg_2 bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Psicólogos</h3>
                    <p> @Html.ActionLink("Inicio", "Inicio", "Home") / Psicólogos </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->
@Html.Partial("_Personal")
@Html.Partial("_Testimonio")
@Html.Partial("_Oferta")